.Projects {
  background-color: #1d1d1b;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 140px;
  overflow-x: hidden;
  padding-bottom: 60px;
  overflow-y: hidden;
}

.titleProjects {
  font-size: 10rem;
  font-family: 'Volkhov', serif;
  color: rgb(219, 219, 219);
}

@media (max-width: 1000px){
  .titleProjects {
    font-size: 7rem;
  }
}

@media (max-width: 700px){
  .titleProjects {
    font-size: 6rem;
  }
}

@media (max-width: 450px){
  .titleProjects {
    font-size: 4.5rem;
  }
}